<div class="container">
  <h2>{{Cvg.cv.designationCV}}</h2>
  <p>Détail</p>
  <div id="accordion">

<!-- Partie etat civile -->
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Etat civile
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion" *ngIf='Cvg'>
        <div class="card-body">

          <h2>Etat civile </h2>

          <div class="form-group">
            <label>
              nom :
            </label>
            <label>
              {{Cvg.cv.nom}}
            </label>

          </div>
          <div class="form-group">
            <label>
              prenom :
            </label>
            <label>
              {{Cvg.cv.prenom}}
            </label>

          </div>
          <div class="form-group">
            <label>
              Etat civile :
            </label>
            <label>
              {{Cvg.cv.etatcivile}}
            </label>

          </div>
          <div class="form-group">
            <label>
              adress :
            </label>
            <label>
              {{Cvg.cv.adress}}
            </label>

          </div>

          <div class="form-group">
            <label>
              Email :
            </label>
            <label>
              {{Cvg.cv.email}}
            </label>

          </div>

          <div class="form-group">
            <label>
              Tel :
            </label>
            <label>
              {{Cvg.cv.tel}}
            </label>

          </div>
        </div>
      </div>
    </div>

<!-- Partie deplome -->
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Deplomes
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDeplome">
          Ajouer un déplome
        </button>

        <div class="modal fade" id="myModalDeplome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un Déplomee</h5>
                <button type="button" #closebuttonAddDeplome class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>


                
              </div>
              <form #fdep="ngForm" (ngSubmit)="onAddDeplomeToCV(fdep.value)">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" placeholder="Déscription" name="description" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="organisation">Organisaion:</label>
                    <input type="text" class="form-control" placeholder="Organisation" name="organisataion" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="mois">Mois:</label>
                    <input type="number" class="form-control" placeholder="mois" name="mois" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="annee">annee:</label>
                    <input type="number" class="form-control" placeholder="annee" name="annee" ngModel>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="card" *ngFor="let d of Cvg.deplomes">
            <div class="card-body">
              <h5 class="card-title">Déscription : {{d.description}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Organisation :{{d.organisataion}}</h6>
              <p class="card-text">Annee :{{d.annee}} Mois : {{d.mois}}</p>
              <button (click)='onDeleteDeplome(d.id)' type="button" class="btn btn-danger">Supprimer</button>
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- Partie experiance -->
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Experiances
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalExperiance">
          Ajouter une experiance
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModalExperiance">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Experiance</h4>
                <button type="button" #closebuttonAddExxperiance class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form #fexper="ngForm" (ngSubmit)="onAddExperianceToCV(fexper.value)">

                  <div class="form-group">
                    <label for="Description">Description:</label>
                    <input type="text" class="form-control" placeholder="Description" name="Description" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="Organistaion">Organistaion:</label>
                    <input type="text" class="form-control" placeholder="Organistaion" name="Organistaion" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="anneeDebut">Annee debut:</label>
                    <input type="number" class="form-control" placeholder="Annee debut" name="anneeDebut" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="MoisDebut">Mois debut:</label>
                    <input type="number" class="form-control" placeholder="Mois debut" name="MoisDebut" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="anneeFin">Annee fin:</label>
                    <input type="number" class="form-control" placeholder="Annee Fin" name="anneeFin" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="MoisFin">Mois fin:</label>
                    <input type="number" class="form-control" placeholder="Mois Fin" name="MoisFin" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="curent">en cours:</label>
                    <input type="checkbox" class="checkbox" name="curent" ngModel>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>  
                 
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="card" *ngFor="let experiance of Cvg.experiances">
            <div class="card-body">
              <h5 class="card-title">Déscription : {{experiance.description}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Organisation :{{experiance.organisation}}</h6>
              <p class="card-text">Annee debut :{{experiance.anneeDebut}} Mois : {{experiance.MoisDebut}}</p>
              <p class="card-text">Annee fin :{{experiance.anneeFin}} Mois : {{experiance.MoisFin}}</p>

              <button (click)='onDeleteExperiance(experiance.id)' type="button"
                class="btn btn-danger">Supprimer</button>
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- Parie compitances -->
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapsefor">
          Compitances
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCompitance">
          Ajouter une Compitance
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModalCompitance">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Compitances</h4>
                <button type="button" #closebuttonAddCompitance class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form #fcomp="ngForm" (ngSubmit)="onAddCompitanceToCV(fcomp.value)">

                  <div class="form-group">
                    <label for="description">Désription:</label>
                    <input type="text" class="form-control" placeholder="Désription" name="description" ngModel>
                  </div>

                  <div class="form-group">
                    <label for="pourcentage">Pourcentage:</label>
                    <input type="number" class="form-control" placeholder="%" name="pourcentage" ngModel>
                  </div>
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>  
                 
                </form>
              </div>


            </div>
          </div>
        </div>

      </div>
      
      <div id="collapsefor" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="card" *ngFor="let c of Cvg.compitances">
            <div class="card-body">
              <h5 class="card-title">Déscription : {{c.description}}</h5>
              <p class="card-text">Pourcentage :{{c.pourcentage}}</p>
              <button (click)='onDeleteCompitance(c.id)' type="button" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>