
<div *ngIf="modeinsert==='fiche'">

  <form #fproj="ngForm" (ngSubmit)="onUpdateProject(fproj.value)">

      <div class="form-group">
        <label for="description">Déscription :</label>
        <input type="text" class="form-control" placeholder="" name="description" [value]=" curentProjet?.description">
      </div>
      <div class="form-group">
        <label for="detail">detail:</label>
        <input type="text" class="form-control" placeholder="" name="detail" [value]=" curentProjet?.detail">
      </div>
      <div class="form-group">
        <label for="budjet">Budjet:</label>
        <input type="number" class="form-control" placeholder="" name="budjet"   [(ngModel)]="selectedProject.budjet">
      </div>
 
      <div class="form-group">
      <button type="submit" class="btn btn-primary">Sauvgarder</button>
      <button type="button" class="btn btn-secondary" (click)="oncanelpdate()" >Fermer</button>
    </div>
  </form>
  
  
  
</div>
<div  *ngIf="modeinsert==='liste'">

  
  
  <p></p>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="onclickAjoutProject()" data-toggle="modal" data-target="#mayModalloclaProjet">
      Ajouer un projet
    </button>
    <p></p>
    <div class="row row-cols-1 row-cols-md-2" >
    
      <div class="col mb-4" *ngFor='let p of projects'>
        <div class="card">
          <div class="card-header">
          <p> Propritaire du projet : {{p.emploiyeur.username}} </p>
          <p> Date postutaltion : {{p.datePostilation | date: 'dd/MM/yyyy'}}</p> 
          </div>
          <div class="card-body">
            <h5 class="card-title">{{p.description}}</h5>
            <p class="card-text">{{p.detail}}.</p>
            <p class="card-text">Budjet  : {{p.budjet |  number : '1.2-2'}}.</p>
          </div>
        </div> 
          <div class="card-footer text-muted">
            <button type="button" class="btn btn-primary" (click)="onclickModifProject(p)" 
            class="btn btn-primary" data-toggle="modal" data-target="#mayModalloclaProjet" >
              Modifier
            </button>
        <div *ngIf="p.demandeRealisations">
          Proposition de realisation par : 
          <div  *ngFor="let u of p.demandeRealisations" (click)="onclickUser(u)"> {{u.demandeur.username}} </div>
        </div>  
        <div *ngIf="p.acceptedDemande">
          <div (click)="onclickUser(p.acceptedDemande)"> Freelancer acceptee  : {{p.acceptedDemande.demandeur.username }}</div>    
        </div>  
          <button type="button" (click)="onpostulationProjet(p)"  
            class="btn btn-primary btn-sm btn-block">Demande de réalisation </button>
        
      </div>
      </div>
    
    </div>
    
    
  </div>
</div>

<app-update-project [localID]="idFormModal" [selectedProject]="curentProjet"
(update)="onUpdate($event)" (add)="onAdd($event)"></app-update-project>
  