<div class="container">
  <div class="row row-cols-1 row-cols-md-2" >

    <div class="col mb-4" *ngFor='let p of projects'>
      <div class="card">
        <div class="card-header">
        <p> Propritaire du projet : {{p.emploiyeur.username}} </p>
        <p> Date postutaltion : {{p.datePostilation | date: 'dd/MM/yyyy'}}</p> 
        </div>
        <div class="card-body">
          <h5 class="card-title">{{p.description}}</h5>
          <p class="card-text">{{p.detail}}.</p>
        </div>
      </div>
        <div class="card-footer text-muted">
      
      <div *ngIf="p.emploiyees">
        Proposition de realisation par : {{p.emploiyees.count}}
        <p  *ngFor="let u of p.emploiyees"> {{u.username}} </p>
        <button type="button" (click)="onpostulationProjet(p)" 
          class="btn btn-primary btn-sm btn-block">Demande de réalisation </button>
      </div>
    </div>
    </div>
  
  </div>
  
  
</div>
