<div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapsetow">
        Deplomes
      </a>
      <!-- Button trigger modal -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDeplome">
  Ajouer un déplome
  </button>
            
  <div class="modal fade" id="myModalDeplome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un Déplomee</h5>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onAddDeplomeToCV(f.value)" >
      <div class="modal-body">
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" placeholder="Déscription" name ="description" ngModel>
        </div>
        <div class="form-group">
          <label for="organisation">Organisaion:</label>
          <input type="text" class="form-control" placeholder="Organisation" name ="organisataion" ngModel >
        </div>
        <div class="form-group">
          <label for="mois">Mois:</label>
          <input type="number" class="form-control" placeholder="mois" name ="mois" ngModel>
        </div>
        <div class="form-group">
          <label for="annee">annee:</label>
          <input type="number" class="form-control" placeholder="annee" name ="annee" ngModel>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </form>
    </div>
  </div>
        </div>

         

   
   
   
    <div id="collapsetow" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <div class="card"  *ngFor="let d of deplomes">
          <div class="card-body">
            <h5 class="card-title">Déscription : {{d.description}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Organisation :{{d.organisataion}}</h6>
            <p class="card-text">Annee :{{d.annee}}  Mois : {{d.mois}}</p>
            <button (click)='onDeleteDeplome(d.id)' type="button" class="btn btn-danger">Supprimer</button>
          </div>
          
        </div>
       
      </div>
    </div>
</div>
