<div class="modal fade" id="myModalEtatCivile" tabindex="-1" role="dialog" 
aria-labelledby="ModalLabelEtatCivile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelEtatCivile">
           <div *ngIf="modeInsert"> Ajouter un cv </div>
           <div *ngIf="!modeInsert"> Modifier l'etat Cvile </div>
        </h5>
        <button type="button" #closebuttonUpdateCV class="close" data-dismiss="modal" 
        aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>


        
      </div>
      <form #fcv="ngForm" (ngSubmit)="onUpdateCV(fcv.value)" >  
        <div class="modal-body">
          <div class="form-group">
            <label for="designationCV">Nom CV:</label>
            <input type="text" class="form-control" placeholder="Nom CV exemple : CV informatique"   name="designationCV" [(ngModel)]=selectedCv.designationCV>
          </div>

          <div class="form-group">
            <label for="description">nom:</label>
            <input type="text" class="form-control" placeholder="nom"   name="nom" [(ngModel)]=selectedCv.nom>
          </div>

          <div class="form-group">
            <label for="prenom">prenom:</label>
            <input type="text" class="form-control" placeholder="prenom"   name="prenom" [(ngModel)]=selectedCv.prenom>
          </div>

         <div class="form-group">
            <label for="etatcivile">Etat civile:</label>
          <select name="etatcivile" ngModel [(ngModel)]="selectedCv.etatcivile" class="form-control">
            <option value="MARIEE">Mariee</option>
            <option value="CELEBATAIRE">célébataire</option>
            <option value="AUTRE">Autre</option>
          </select>
        </div>

          <div class="form-group">
            <label for="adress">Adress :</label>
            <input type="text" class="form-control" placeholder="Adress" name="adress" [(ngModel)]=selectedCv.adress>
          </div>

          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" placeholder="Email"  name="email" [(ngModel)]=selectedCv.email>
          </div>

          <div class="form-group">
            <label for="tel">Tel :</label>
            <input type="text" class="form-control" placeholder="Tel." name="tel"  [(ngModel)]=selectedCv.tel>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Sauvgarder</button>
        </div>
      </form>
    </div>
  </div>
</div>