<app-update-project [localID]="'maymodalProjectMenue'"></app-update-project>
<div id="app">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="../assets/images/dessin.png" alt="خدمة نضيفة" style="width:40px;">
    </a>
      
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar" aria-orientation="vertical">
      <ul class="navbar-nav">
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Liens rapides
          </a>
          <div class="dropdown-menu" >
            <a class="dropdown-item"  (click)="onclickprofile()" > Profil </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#maymodalProjectMenue" >Ajouter un projet</a>
            <a class="dropdown-item" href="#">Recherche d'une mission</a>
          </div>

        </li>
          <li class="nav-item dropdown">
          <form class="form-inline"  action="">
            <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
           <button class="btn btn-primary" type="submit">Search</button>
          </div>
          </div>
          </form>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">S'identifier</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Se déconnecter</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" (click)="onclickprofile()"  >Profil</a>
        </li>
      </ul>

      
    </div>
  </nav>



      <!-- carosel  -->
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="../assets/images/1.jpg" alt="Los Angeles" width="1100" height="200">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 >Déposer des projet a réaliser.</h1>
            <p >Vous avez un emploi et ne pouvez pas embaucher un entrepreneur en raison du coût et vous ne connaissez pas une grande base de travailleurs professionnels, donc la meilleure solution est le service Khadma ndifa.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="register" role="button">Inscrivez-vous aujourd'hui</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/images/5.jpg" alt="Chicago" width="1100" height="200">
        <div class="container">
          <div class="carousel-caption">
            <h1 >Trouvez des projets à réaliser.</h1>
            <p >Si vous êtes qualifié et à la recherche de projets à réaliser et d'améliorer votre réputation professionnelle, Khadma ndifa est l'endroit idéal.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Apprendre encore plus</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/images/6.jpg" alt="New York" width="1100" height="200">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>System des notes.</h1>
            <p>Le système de notation permet au niveau d'expertise et d'honnêteté d'exceller dans leur travail.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/project/liste" role="button">Liste des projets</a></p>
          </div>
        </div>
      </div>
    </div>
    




    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


    <router-outlet></router-outlet>

     <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Retour au sommet</a></p>
    <p>&copy; 2020-2025 Company, Inc. &middot; <a href="#">Confidentialité </a> &middot; <a href="#">Conditions</a></p>
  </footer>
  </div >

     
  