<div id="app">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="../assets/images/dessin.png" alt="خدمة نضيفة" style="width:40px;">
    </a>
      
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar" aria-orientation="vertical">
      <ul class="navbar-nav">
  
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            روابط سريعة
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item"  [routerLink]="['/profile',Connecteduser.id]"   *ngIf="Connecteduser">الملف الشخصي</a>
            <a class="dropdown-item" href="#">إضافة مشروع</a>
            <a class="dropdown-item" href="#">البخث عن مهمة</a>
            <a class="dropdown-item" href="#">البخث عن شخص</a>
          </div>

        </li>
          <li class="nav-item dropdown">
          <form class="form-inline"  action="">
            <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
           <button class="btn btn-primary" type="submit">Search</button>
          </div>
          </div>
          </form>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">التسجيل</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="['/login','/'']">الدخول</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">الخروج</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile',Connecteduser.id]"   *ngIf="Connecteduser">الملف الشخصي</a>
        </li>
      </ul>

      
    </div>
  </nav>



      <!-- carosel  -->
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="../assets/images/1.jpg" alt="Los Angeles" width="1100" height="200">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/5.jpg" alt="Chicago" width="1100" height="200">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/6.jpg" alt="New York" width="1100" height="200">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


    <router-outlet></router-outlet>

        <!-- footer -->
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
    </div>
  </div >

     
  