<div class="container" *ngIf='SelectedUser' style="margin-top:30px ">
  <button *ngIf="_typeappel==='accept'" type="button" class="btn btn-primary"
   (click)="onacceptuser()">
  Accepter
</button>
  <div class="row">
    <div class="col-sm-4">

      <h2>Profile</h2>
      <h6>Psudo:
        {{SelectedUser.username}}
      </h6>
      <h6>Email:
        {{SelectedUser.email}}
      </h6>
      <h6 *ngIf="SelectedUser && SelectedUser.typeuser==='EUR'">Type: Emploiyeur </h6>
      <h6 *ngIf="SelectedUser && SelectedUser.typeuser==='EE'">Type: Emploiyee </h6>
      <h4>Plus de detail</h4>
      <p></p>



      <p>Liste des CVs.</p>
      <div *ngIf='SelectedUser'>


        <p></p>

        <button *ngIf="isLogedUserProfile===true && SelectedUser &&  SelectedUser.typeuser==='EE'" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#myModalEtatCivile" (click)="onAppelAddCV()" id="marginright">
          Ajouter un CV
        </button>
        <div *ngFor="let c of CVgs">
          <button type="button" (click)="onSelectedCvCahge(c)" class="list-group-item list-group-item-action">
            {{c.cv.designationCV}}

          </button>

        </div>


        <app-update-cv [modeInsert]='modeInsetCV' [selectedCv]='selectedCVGlobale?.cv' (add)="onAddCv($event)"
          (update)="onUpdateCv($event)"></app-update-cv>


      </div>
      <p></p>

    </div>
    <div class="col-sm-8">

        <button class="btn btn-primary" id="marginright"
        *ngIf="isLogedUserProfile===true && selectedCVGlobale && SelectedUser.typeuser==='EE'"  data-toggle="modal"
          data-target="#myModalEtatCivile" (click)=" onAppelUpdateCV()" id="marginright"
        >
          Modifier
        </button>


        <button class="btn btn-primary" id="marginright" 
        *ngIf="isLogedUserProfile===true && selectedCVGlobale" (click)="onDeleteCV(selectedCVGlobale.cv.id)">
          Supprimer
        </button>


      <h2 id="marginright">{{selectedCVGlobale?.cv?.designationCV}}</h2>

        <cv-component [Cvg]='selectedCVGlobale'></cv-component>

      <p>Liste des projets.</p>
      <app-projet [iduser]='SelectedUser.id' ></app-projet>

    </div>

  </div>