<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Formulaire d'enregistrement</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" #f (ngSubmit)="onSubmit(f.data)">
      <div class="form-row">
        <div class="form-group col-5">
          <label >Type utilisateur:</label>
          <select type="text" formControlName="typeUser" class="form-control">
            <option value="EUR">Emploiyeur</option>
            <option value="EE">Emploiyee</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-5">
          <label >Sex:</label>
          <select type="text" formControlName="gender" class="form-control" >
            <option value="1">Homme</option>
            <option value="2">Femme</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>user name</label>
          <input type="text" formControlName="username" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmedPassword" class="form-control" />
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>